@charset "utf-8";

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
}

#content {
  flex: 1;
}

.welcome-message-container{
  font-size: 40px;
  text-align: center;
  padding-top: 100px;
}

.logo {
  color: #ffffff;
}

.header-link-container {
  line-height: 60px;
  margin-right: 20px;
}

.header-link-list {
  text-align: center;
}

#header-container {
  background-color: #9966FF;
  color: #ffffff;
  text-align:center;
}

#footer-container {
  background-color: #CCCCCC;
  text-align: center;
  line-height: 60px;
}

#logout-field {
  display: inline-block;
}

.index-pdca-time {
  text-align: center;
}

.index-pdca-text {
  text-align: center;
}

.index-pdca-edit-btn {
  text-align: center;
}

.message_field {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  /* margin: 0 250px 20px; */
}

.form-error-field {
  color: #ff0000;
}

#pdca-search-form {
  float: left;
}

.post-textarea {
  background-image: url(../image/スライムアイコン-545x233.png);
  background-size: cover;
  border-style: groove;
  border-width: 4px;
  border-radius: 40px;
  font-weight: bold;
  font-style:italic;
}

.post-day-time-area {
  border-style: groove;
  border-width: 4px;
  border-radius: 40px;
  font-weight: bold;
  font-style: italic;
}

.post-user-name-area {
  border-style: groove;
  border-width: 4px;
  border-radius: 40px;
  font-weight: bold;
  font-style: italic;
}

.search-th {
  font-size: 30px;
}

.signin-signup-modal {
  text-align: center;
}

.proverb-area {
  text-align: center;
}

.welcome-app-name {
  font-size: 60px;
}

.modal-form-label {
  float: left;
}

.datetime-input-edit-wrapper {
  margin-top: -10px;
}
